.button {
    all: unset;
    background-color: #da258e;
    color: aliceblue;
    width: 300px;
    height: 40px;
    padding: 12px;
    border-radius: 10px;

    text-align: center;
    font-size: 20px;
    margin-top: 20px;

    transition: 0.3s;
    cursor: pointer;
}

.button:last-child {
    margin-bottom: 20px;
}

.button:hover {
    opacity: 0.8;
}

@media (max-width: 760px) {
    .button {
        width: 90%;
    }
}