.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 20%;
}

.content:nth-child(2) {
    flex-direction: row-reverse;
}

.content:nth-child(4) {
    flex-direction: row-reverse;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    gap: 10px;
}

.title {
    color: #da258e;
    font-size: 30px;
    font-weight: 700;
}

.text {
    font-size: 16px;
    text-align: justify;
}

.contentImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.img {
    display: flex;
    border: 4px solid #da258e;
    box-shadow: 6px 0 10px 0 black;
    width: 400px;
}

@media (max-width: 780px) {

    .content {
        flex-direction: column;
    }

    .content:nth-child(2) {
        flex-direction: column;
    }

    .content:nth-child(4) {
        flex-direction: column;
    }

    .img {
        width: 80%;

    }

    .contentText {
        margin-top: 50px;
        align-items: center;
    }

    .title {
        font-size: 20px;
    }

    .text {
        text-align: center;
    }
}

@media (width: 1366px) {
    .content {
        padding: 16% 8% 2% 8%;
        gap: 10%;

    }

    .img {
        width: 340px;
    }

    .text {
        font-size: 18px;
    }

}