.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: calc(100vh - 120px);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10% 10% 0 10%;
    gap: 20%;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    gap: 10px;
}

.name {
    color: #da258e;
    font-size: 30px;
    font-weight: 700;
}

.text {
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
}

.button {
    all: unset;
    background-color: #da258e;
    color: aliceblue;
    width: 300px;
    height: 50px;
    padding: 12px;
    border-radius: 10px;

    text-align: center;
    font-size: 20px;
    margin-top: 20px;

    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    opacity: 0.8;
}

.contentImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img {
    display: flex;
    border: 4px solid #da258e;
    box-shadow: 6px 0 10px 0 black;
    border-radius: 50%;
    width: 450px;

    transform: rotate(45deg);
}

.iconWhats {
    width: 90px;

    position: absolute;
    bottom: 190px;
    right: 150px;
    cursor: pointer;

    border-radius: 50%;
}


@media (max-width: 780px) {

    .content {
        flex-direction: column-reverse;
        padding: 40% 10% 5% 10%;
    }

    .img {
        width: 80%;
    }

    .contentText {
        margin-top: 50px;
    }

    .name {
        font-size: 22px;

    }

    .button {
        width: 90%;
        margin-bottom: 50px;
    }

    .iconWhats {
        width: 60px;
        position: absolute;
        right: 50px;
        bottom: 400px;
        padding: 10px;
    }
}