.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: calc(100vh - 100px);
}

.content {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    padding: 5% 10% 0 10%;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    gap: 10px;
}

.name {
    color: #da258e;
    font-size: 30px;
    font-weight: 700;
}

.text {
    font-size: 16px;
    font-weight: normal;
    text-align: start;
}

.contentImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img {
    display: flex; 
    border: 4px solid #da258e;
    box-shadow: 6px 0 10px 0 black;
    border-radius: 50%;
    width: 280px;

    transform: rotate(45deg);
}


@media (max-width: 780px) {
 
    .content {
        flex-direction: column-reverse;
        padding: 12% 10% 0 10%;
    }

    .img {
        width: 50%;
    }

    .contentText {
        margin-top: 50px;
    }

    .name {
        font-size: 22px;
    }
}


