.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: calc(100vh - 120px);
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12% 10% 2% 10%;
    gap: 20%;
    margin-bottom: -70px;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    gap: 10px;
}

.title {
    color: #da258e;
    font-size: 30px;
    font-weight: 700;
}

.text {
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
}

.contentImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.img {
    display: flex;
    border: 4px solid #da258e;
    box-shadow: 6px 0 10px 0 black;
    width: 480px;
}

@media (max-width: 780px) {

    .content {
        flex-direction: column-reverse;
        padding: 40% 10% 0 10%;
    }

    .content:nth-child(2) {
        flex-direction: column;
    }

    .img {
        width: 80%;

    }

    .contentText {
        margin-top: 50px;
    }

    .title {
        font-size: 22px;
    }
}